@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff8f6;
  color: #251915;
  -webkit-font-smoothing: antialiased;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  display: inline-block;
  vertical-align: middle;
}

.material-symbols-outlined.filled {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #e0bfb8;
  border-radius: 10px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.floor-plan-grid {
  background-image: radial-gradient(#e0bfb8 1px, transparent 1px);
  background-size: 24px 24px;
}

.elevation-step-1 {
  box-shadow: 0 2px 8px rgba(89, 65, 60, 0.05);
}
